* {
   margin: 0;
   padding: 0;
   /* list-style-type: none; */
   text-decoration: none;
}

.container {
   width: 1140px;
   margin-left: auto;
   margin-right: auto;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 30px;
   margin-bottom: 100px;
}

.navbar {
}

.nav_list {
   width: 250px;
   display: flex;
   align-items: center;
}

.nav_item {
   margin-right: 40px;
}

.nav_link {
   color: #4F5665;
   font-family: Rubik;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.signin {
   color: #0B132A;
   font-family: Rubik;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   border: none;
}  

.signup {
   margin-left: 40px;
   color: #F53855;
   background-color: #fff;
   font-family: Rubik;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   border-radius: 50px;
   border: 1px solid #F53855;
   padding: 13px 45px;
}

/* HIRO  */

.hiro {
   background-image: url("../images/Illustration_1.png");
   background-repeat: no-repeat;
   background-position: center right;
   padding-top: 50px;
   padding-bottom: 100px;
}

.hiro_title {
   width: 485px;
   color: #0B132A;
   font-family: Rubik;
   font-size: 50px;
   font-style: normal;
   font-weight: 500;
   line-height: 70px; /* 140% */
}

.hiro_text {
   width: 500px;
   margin-top: 20px;
   margin-bottom: 50px;
   color: #4F5665;
   font-family: Rubik;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px; /* 187.5% */
}

.hiro_btn {
   padding: 18px 78px;
   border-radius: 10px; 
   background: #F53838;
   color: #FFF;
   font-family: Rubik;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: 25px; /* 156.25% */
}

/* PROVIDE  */

.provide {
   padding: 100px 0;  
   display: flex;
   justify-content: end;
   background-image: url("../images/Illustration_2.png");
   background-repeat: no-repeat;
   background-position: center left;
}

.provide_title {
   width: 380px;
   margin-bottom: 20px;
   color: #0B132A;
   font-family: Rubik;
   font-size: 35px;
   font-style: normal;
   font-weight: 500;
   line-height: 50px; /* 142.857% */
}

.provide_text {
   width: 370px;
   margin-bottom: 20px;
   color: #4F5665;
   font-family: Rubik;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px; /* 187.5% */
}

.provide_list {
   margin-left: 20px;
   list-style-type: circle;
}

.provide_item {
   margin-bottom: 15px;
   color: #4F5665;
   font-family: Rubik;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px; /* 214.286% */
}

/* CARD  */

.card {
   text-align: center;
   margin-bottom: 150px;
}

.card_title{
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 20px;
   width: 340px;
   color: #0B132A;
text-align: center;
font-family: Rubik;
font-size: 35px;
font-style: normal;
font-weight: 500;
line-height: 50px; /* 142.857% */
}

.card_text {
   width: 500px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 150px;
   color: #4F5665;
text-align: center;
font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
}

/* SITES  */

.sites {
   
}

.sites_list {
   list-style-type: none;
   display: flex;
   align-items: center;
   justify-content: space-between;
   vertical-align: top;
}

.sites_item{

}

.sites_img{
}


/* FOOTER   */

.footer {
   margin-top: 60px;
   margin-bottom: 100px;
   display: flex;
   align-self: flex-start;
   justify-content: space-between;
}

.footer_main {
   width: 300px;
}


.products {
   width: 120px;
}

.products_title {
   margin-bottom: 20px;
}

.products ul {
   list-style-type: none;
}

.products ul li {
   margin-bottom: 10px;
}

.engage {

}

.engage_title {
   margin-bottom: 20px;
}

.engage ul {
   list-style-type: none;
}

.engage ul li {
   margin-bottom: 10px;
}

.earn {

}

.earn_title {
   margin-bottom: 20px;
}

.earn ul {
   list-style-type: none;
}

.earn ul li {
   margin-bottom: 10px;
}